.gallery__wrapper {
  padding: 15px 10px;
}

.gallery {
  width: 100%;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.gallery-preloader {
  height: 650px;
  width: 100%;
}

.gallery__msg {
  text-align: center;

  font-size: 30px;
  font-weight: 700;

  a {
    color: #7b95c9;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
    }
  }
}
