.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__num {
  margin: 0 .5rem;
  color: #606f7b;
}

.pagination__button {
  color: #606f7b;
  margin: 0 .2rem;
  padding: .5rem 1rem;
  border-radius: .25rem;

  background-color: #f1f5f8;
  outline: none;

  font-family: Roboto;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #f2f2f2;
  }

  &.disabled {
    opacity: .5;
    cursor: auto;

    &:hover {
      background-color: #f0f7fc;
    }
  }
}
